body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    max-width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input{
    width: 30%; /* Make it take the full width of the container */
    padding: 12px;
    margin-top: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-window {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.messages-container {
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 5px;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.message {
    max-width: 80%;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.sender {
    background-color: rgba(162, 255, 85, 0.63); /* Sent message color */
    align-self: flex-end; /* Align to the right */
}

.receiver {
    background-color: rgba(142, 255, 225, 0.87); /* Received message color */
    align-self: flex-start; /* Align to the left */
}


button {
    padding: 8px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #007BFF;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#sendMessageButton,
#attachFileButton,
#leaveRoomButton {
    margin-top: 10px;
}

.room-list {
    max-height: 150px;
    overflow-y: auto;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-top: 10px;
}

.room-list button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    background-color: #87CEEB;
    color: #fff;
    cursor: pointer;
}

.room-list button:hover {
    background-color: #4682B4;
}
.room-button.new-message {
    background-color: yellow; /* Highlighting color */
    font-weight: bold; /* To make it stand out */
}

/* style.css */
.search-result {
    margin-top: 8px;
    padding: 8px;
    border: 1px solid #acacac;
    background-color: rgba(239, 239, 239, 0.33);
}

.search-room-button {
    display: block;
    margin: 4px 0;
    padding: 8px;
    background-color: #98caff;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.search-room-button:hover {
    background-color: #9cb1c5;
}
